<p id="notice"><%= notice %></p>

<p>
  <strong>Taskname:</strong>
  <%= @task.taskName %>
</p>

<p>
  <strong>Taskdescr:</strong>
  <%= @task.taskDescr %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
